# --- Project Specific ---
notebook.ipynb
/.secrets
/models

# --- DEFAULT ---

# logs
**/logs/

# snakemake
**/.snakemake/

# Recursive
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.ipynb_checkpoints/
**/.vscode/
**/.old/

# C extensions
**/*.so

# Distribution / packaging
**/.Python
**/build/
**/develop-eggs/
**/dist/
**/downloads/
**/eggs/
**/.eggs/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/var/
**/wheels/
**/share/python-wheels/
**/*.egg-info/
**/.installed.cfg
**/*.egg
**/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
**/*.manifest
**/*.spec

# Installer logs
**/pip-log.txt
**/pip-delete-this-directory.txt

# Unit test / coverage reports
**/htmlcov/
**/.tox/
**/.nox/
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/*.py,cover
**/.hypothesis/
**/.pytest

# Models
/models

### Other ###
add_mix_coeff.tasks.test-set.csv
example_signal_dissection_control.csv
example_signal_dissection_eCLIP.csv
data/ENCODE/analysis/replicate-performance/model_vs_replicate_result_metrics.csv
